/**
 *  Header
 */
.after-main .content div {
    border: 1px solid #90A4AE;
    overflow: auto;
}

.after-main .content img {
    float:left;
    margin-right: 24px;
}

.after-main .content p {
    padding-right: 16px;
}
