/** --------------------------------------------------------------
 *  Responsive design
 */
img {
    max-width: 100%;
}

@media screen and (max-width: 850px) {
    .navbar2 {
        display: none;
    }

    .site-logo-text {
        .column(11);
    }

    .after-main .content {
        .column(10);
        .push(1);
    }
}

@media screen and (max-width: 750px) {
    .sidebar {
        //width: 100%;
        display: none;
    }

    .main {
        &.has-sidebar {
            .column(12);
        }
    }
}


@media screen and (max-width: 700px) {
    .footer-column {
        .column(12);
    }
}
